*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}

    body{
       margin: 0;
       padding: 20px;
       background-color: cadetblue;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }    
    

    nav h1{
        font-size: 300%;
    }
    nav ul li {
        list-style: none;

    }
    nav ul li a{
        text-decoration: none;
        color: black;
    } 
    

    .mySlides {display: none}
    img {vertical-align: middle;}


    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .mySlides img{
        width: 100%;
        padding-top: 20px;
        
    }
  

     .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  hr{
    width: 100%;
    
  }
  .hr1{
    margin-top: 10px;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  
  @media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
  }


.about-info h1{
  padding-top: 10%;
    padding-left: 5%;
    font-family: 'Kanit', sans-serif;
    color: rgb(219, 129, 96);
    font-size: 350%;
  /* padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif; */
 }
.about-info p{
  color: rgb(0, 0, 0); 
  padding-left: 20%; 
  padding-right: 5%;
  font-size: 150%;
  width: 60%;
  line-height: 100%;
  padding-top: 3%;
 }

 .about-info img{
  width: 470px;
  padding-top: 5px;
  height: 630px;
  float: right;
  display: list-item;
  padding-bottom: 2%;
  margin-top: 40px;
 }


/* cARD */
.row{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
 gap: 10px;
 padding-top: 10%;
}
.row img{
  width: 100%;
  margin-bottom: 5%;
} 
.row .she{
  width: 90%;
  
 
}
.row h1{
  padding: 10%;
  text-align: center;
  font-size: 350%;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Parent{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
 gap: 10px;
 padding-top: 10%;
 gap: 5%;
}


.pics img{
  width: 100%;
  height: 100%;
}

.mapa .text{
  margin-top: 45%;
  font-size: 150%;
}

.mapa .pics{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 8%;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
}

.item1 {
  grid-column: 1 / span 2;
  font-size: 25px;
  padding-top: 10%;
}

.item3{
  
  width: 100%;
  height: 100%;
  padding-top: 30%;
  padding-left: 20%;
  
}

.grid-container p {
  padding-top: 250%;
}

.hr2{
  margin-top: 20px;
}



.classmates{
  padding-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.classmates p {
  font-size: 80px;
  padding-top: 10%;
}


.classmates img {
  height: 100%;
  width: 100%;
}

.act2 {
  display: flex;
  float: right;
  padding-top: 30px;
  font-size: 20px;
  padding-right: 22%;
  padding-bottom: 10%;
}